:host {
  ::ng-deep {
    app-searchable-dropdown {
      position: relative;
      z-index: 1;
    }
  }
}

.overflow-y-auto {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }

  .dark &::-webkit-scrollbar-thumb {
    background: #334155;
  }
}
